.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensures the component fills the screen height */
  width: 100%; /* Ensures the component fills the screen width */
  padding: 0 20px;
  text-align: center;
  background-image: url('/public/img/background.jpg'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire component */
  background-repeat: no-repeat; /* Do not repeat the image */
  position: relative; /* Ensure the z-index applies */
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.text-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 250px;
  padding-left: 200px;
}

.intro-header {
  font-size: 2.5em;
  margin-bottom: 20px;
  padding-bottom: 100px;
  padding-left: 35px;
  color: white; /* Adjust the color as per your preference */
  font-family: 'sp-blunt-regular';
  font-weight: 250;
}

.text-card {
  background-color: rgba(0, 0, 0, 0.4) !important; /* Semi-transparent background */
  color: white !important; /* Text color */
  padding: 20px; /* Padding inside the card */
  border-radius: 10px; /* Rounded corners */
  max-width: 600px; /* Maximum width of the card */
  font-family: 'sp-blunt-regular';
  border: 10px solid rgb(184, 102, 8);
}

.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
}

.portfolio-pic {
  width: 500px;
  height: auto;
  object-fit: cover;
  margin-left: 20px;
  border-radius: 50%;
  border: 10px solid rgb(184, 102, 8);
}


@media (max-width: 768px) {
  .about-me {
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
  }

  .text-content, .image-content {
    flex: none;
    margin-bottom: 20px;
  }

  .portfolio-pic {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
}
