.skills-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.skills-content {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
}

.skills-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: 'sp-blunt-regular';
  font-weight: 250;
}

.skill-card {
  margin-bottom: 20px;
  border: none;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.cards-title {
  font-size: 1.2em;
  margin-top: 10px;
  color: black;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

}

.btn-custom {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #333;
}
