.skills-page {
  display: flex;
}

.skills-content {
  margin-left: 1px;
  margin-right: 260px;/* Adjust the margin to account for the sidebar width */
  padding: 20px;
  flex: 1;
  background-color: #f5f3f3; /* Light grey background */
  border-radius: 10px;
  margin-top: 20px;
}

.skills-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.skill-card {
  margin-bottom: 20px;
  border: none;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: scale(1.05);
}

.skill-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 0 auto;
  padding: 20px;
}

.cards-title {
  font-size: 1.2em;
  margin-top: 10px;
  color: black;
}
